.navigation {
    border-bottom: 2px solid #a1a1a1;
}

header {
    position: sticky;
    top:0;
    z-index: 1000;
}

footer {
    .social{
        width: 48px;
        height: 48px;
        display: block;   
    }
}