<header>
  <nav
    class="px-4 flex items-center justify-center bg-gray-600 py-4 text-slate-400"
  >
    <strong class="text-slate-50 w-full sm:w-1/3">Wizards Well</strong>
    <div class="flex w-1/3 justify-center">
      <a
        class="px-2"
        routerLink="/home"
        routerLinkActive="text-slate-50"
        ariaCurrentWhenActive="page"
        >Home</a
      >
      <a
        class="px-2"
        routerLink="/imprint"
        routerLinkActive="text-slate-50"
        ariaCurrentWhenActive="page"
        >Impressum</a
      >
      <a
        class="px-2"
        routerLink="/contact"
        routerLinkActive="text-slate-50"
        ariaCurrentWhenActive="page"
        >Kontakt</a
      >
    </div>

    <div class="w-1/3"></div>
  </nav>
</header>
<main>
  <div class="container max-w-5xl mx-auto px-4 py-20">
    <router-outlet></router-outlet>
  </div>
</main>
