.navigation {
    border-bottom: 2px solid #a1a1a1;
}

.ww-bg {
    background-image: url('../assets/wizardswell.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    position: sticky;
    top:0;
    z-index: 1000;
}

footer {
    .social{
        width: 48px;
        height: 48px;
        display: block;   
    }
}