@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.markdown {
    h1{
        font-size: 2rem;
        margin: 1rem 0 1rem 0;
    }

    h2{
        font-size: 1.75rem;
        margin: 1rem 0 1rem 0;
    }

    h3{
        font-size: 1.5rem;
        margin: 0.5rem 0 0.5rem 0;
    }

    h4{
        font-size: 1.25rem;
        margin: 0.5rem 0 0.5rem 0;
    }

    h5{
        font-size: 1.15rem;
        margin: 0.5rem 0 0.5rem 0;
    }
    
    p{
        white-space: pre-wrap;
    }

    img{
        margin: 0 auto; 
    }
}