@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.markdown {
    h2{
        font-size: 1.75rem;
        margin: 1rem 0 1rem 0;
    }
    
    p{
        white-space: pre-wrap;
    }
}